.profileName{
  text-align: center;
}
.profileDetails{
  gap: 40px;
}
.profileLeft{
  display: flex;
  
  border-radius: 44%;
  align-self: flex-start;
}

.profileRight{
  background-color: var(--background);
}
.buttonContainer button{
  background-color: var(--bright-yellow);
  color: var(--primary);
  font-style: italic;
  cursor: pointer;
}
.buttonContainer button:hover{
  background-color: var(--primary);
  color: var(--bright-yellow);
}
.profileChangeButton{
  background-color: var(--bright-yellow);
  color: var(--primary);
  font-style: italic;
  cursor: pointer;
  padding : 10px 20px;
  border-radius: 8px;
  display: flex;
  align-self: flex-end;
}
.profileChangeButton:hover{
  background-color: var(--primary);
  color: var(--bright-yellow);
}
