.navbar{
  background-color: var(--dark-blue);
  height: 60px;
  box-shadow: 0 2px 4px var(--foreground);
}
.navbar .navbarLogo{
  background-color: var(--foreground);
  width: 60px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.navbarRight{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}