@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #e0f0f9;
  --primary: #1E3A8A;
  --secondary: #07b67c;
  --bright-yellow: #FACC15;
  --dark-blue:#093e6e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
